---
Checks: |
  -*,
  android-cloexec-*,
  bugprone-*,
    -bugprone-assignment-in-if-condition,
    -bugprone-branch-clone,
    -bugprone-easily-swappable-parameters,
    -bugprone-narrowing-conversions,
    -bugprone-sizeof-expression,
    -bugprone-switch-missing-default-case,
  cert-c-*,
  clang-analyzer-*,
    -clang-analyzer-optin.performance.Padding,
    -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
    -clang-analyzer-unix.Malloc,
  performance-*,
  portability-*,
CheckOptions:
  - key:   bugprone-suspicious-string-compare.StringCompareLikeFunctions
    value: buffer_cmp;token_cmp;
WarningsAsErrors: '*'
...
