---
Checks: |
  -*,
  android-cloexec-*,
  bugprone-*,
  -bugprone-branch-clone,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  -bugprone-sizeof-expression,
  cert-c-*,
  performance-*,
  portability-*,
WarningsAsErrors: '*'
...
