---
Checks: |
  -*,
  android-cloexec-*,
  bugprone-*,
    -bugprone-assignment-in-if-condition,
    -bugprone-branch-clone,
    -bugprone-easily-swappable-parameters,
    -bugprone-narrowing-conversions,
    -bugprone-sizeof-expression,
  cert-c-*,
  performance-*,
  portability-*,
CheckOptions:
  - key:   bugprone-suspicious-string-compare.StringCompareLikeFunctions
    value: buffer_cmp;token_cmp;
WarningsAsErrors: '*'
...
